# Archivo de variables de entorno (no lo subas a un repo público)

AZURE_FOUNDRY_ENDPOINT="TU_URL_DEL_ENDPONT_EN_FOUNDRY_AQUI"
AZURE_FOUNDRY_KEY="TU_API_KEY_AQUI"
AZURE_FOUNDRY_MODEL="gpt-4o"  # o el nombre del modelo que hayas desplegado (ej gpt-35-turbo)
